<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ContactsApp.Properties.Settings.ÇontactsConnection"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Contacts;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="ContactsApp.Properties.Settings.ConnectionContacts"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Contacts;Integrated Security=True;Encrypt=False" />
    </connectionStrings>
</configuration>